@import "../components/fonts";
@import "../components/mixin";
// HEADER SECTION
#header {
  padding-top: 12rem;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .container {
    @include media-breakpoint-down(sm) {
      margin-top: 0rem;
    }
    margin-top: 7rem;
    .intro {
      p {
        @include media-breakpoint-down(sm) {
          font-size: 1.2rem;
        }
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        font-weight: 200;
      }
    }
    .text-sm-center {
      text-align: center;
    }
    .profession {
      @include media-breakpoint-down(md) {
        font-size: 3rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 5rem;
      }

      font-family: "Poppins", sans-serif;
      font-weight: 700;
      line-height: 1;

      &--python {
        -webkit-text-stroke: 0.5px $white;
        color: transparent;
      }

      &--graphics {
      }
    }
  }
  .avatar-container {
    @include media-breakpoint-down(sm) {
      transform: translate(0, 0%);
    }

    @include media-breakpoint-up(lg) {
      transform: translate(0, -30%);
    }
    position: relative;
    bottom: 0;

    width: 100%;

    .avatar-shadow {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      height: 8rem;
      width: 100%;
      @include gradient(top, $avatar-shadow-list);
      z-index: 50;
    }

    .avatar {
      @include media-breakpoint-down(md) {
        height: 22rem;
        // top: 50%;
        // left: 57.5%;
      }
      @include media-breakpoint-up(md) {
        height: 32rem;
        // top: 30%;
        // left: 57.5%;
      }
      @include media-breakpoint-up(lg) {
        height: 34rem;
        // top: 11%;
        // left: 57.5%;
      }
      position: relative;
      // height: 36rem;
      bottom: 0%;
      left: 50%;
      transform: translate(-28%, 0%);
      z-index: 10;
    }
  }
}
